:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 8px;
    --theme: var(--mywhite);
    --entry: var(--mywhite);
    --primary: var(--myblue);
    --secondary: var(--mygray);
    --tertiary: var(--mydove);
    --gray: rgb(165, 165, 165);
    --content: var(--myblue);
    --hljs-bg: var(--myblue);
    --code-bg: rgb(218, 220, 215);
    --border: rgb(238, 238, 238);
    --hover: var(--darkaqua);
    --hover2: var(--aqua);
    --hover3: var(--lightaqua);
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
    
    --aqua: rgb(115, 204, 183);
    --darkaqua: #05696B;
    --lightaqua: #AFDDDE;
    --darkblue: rgb(20, 27, 49);
    --myblue: rgb(18, 27, 51);
    --mywhite: rgb(243, 245, 239);
    --mygray: rgb(89, 95, 112);
    --mydove: rgb(174, 176, 172);
}


.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
    --hover: var(--lightaqua);
    --hover2: var(--aqua);
    --hover3: var(--darkaqua);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
