<div style="z-index:-1" class="absolute inset-0 flex items-center justify-center">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    <div class="grid grid-cols-2 gap-4 w-full h-full opacity-50 overflow-hidden">
      <!-- Element for top left -->
      <dotlottie-player
        class="col-start-1 row-start-1 transform -translate-x-1/4 translate-y-1/4 scale-50 sm:scale-50 md:scale-100"
        src='{{ "anim/string.lottie" | relURL }}'
        background="transparent"
        speed="0.15"
        style="width: 700px;"
        loop
        autoplay>
      </dotlottie-player>

      <!-- Element for top right -->
      <dotlottie-player
        class="col-start-2 row-start-2 transform translate-x-1/4 -translate-y-1/4 scale-50 sm:scale-50 md:scale-100"
        src='{{ "anim/string2.lottie" | relURL }}'
        background="transparent"
        style="width: 700px;"
        speed="0.15"
        loop
        autoplay>
      </dotlottie-player>
    </div>
  </div>