<section class="p-4 flex flex-col items-center">
  {{ $authorName := .Site.Params.author }}
  {{ with .Site.Params.authorImage }}
  <div class="w-48 h-48 rounded-full mb-6">
    <img src="{{.}}" class="w-full p-2 h-full object-contain rounded-full" alt="{{ $authorName }}" />
  </div>
  {{ end }}

  <h1 class="text-2xl font-bold text-center mb-4">
    {{ .Site.Params.homepage.title }}
  </h1>
  <div style="z-index:-1" class="absolute inset-0 flex items-center justify-center">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
    <div class="grid grid-cols-2 gap-4 w-full h-full opacity-50 overflow-hidden">
      <!-- Element for top left -->
      <dotlottie-player
        class="col-start-1 row-start-1 transform -translate-x-1/4 translate-y-1/4"
        src="anim/string.lottie"
        background="transparent"
        speed="0.15"
        style="width: 700px;"
        loop
        autoplay>
      </dotlottie-player>

      <!-- Element for top right -->
      <dotlottie-player
        class="col-start-2 row-start-2 transform translate-x-1/4 -translate-y-1/4"
        src="anim/string2.lottie"
        background="transparent"
        style="width: 700px;"
        speed="0.15"
        loop
        autoplay>
      </dotlottie-player>
    </div>
  </div>
  <div class="text-5xl md:text-6xl font-bold text-center max-w-3xl mb-4 relative">
    <div class="relative text-5xl">{{ .Site.Params.homepage.tagline }}</div>
  </div>
  <p class="font-light text-center max-w-sm mb-8">
    {{ .Site.Params.homepage.description }}
  </p>

  {{ with .Site.Params.homepage.contact }}
  <a
    href="{{ . }}"
    rel="noopener noreferrer"
    target="_blank"
    class="px-6 py-4 rounded-full font-semibold text-lg bg-black text-white hover:bg-gray-800 transition-colors dark:bg-white dark:text-black dark:hover:bg-gray-200"
    >Contact me</a
  >
  {{ end }}
</section>
