.buttons,
.main .profile {
    display: flex;
    justify-content: left;
}

.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--header-height) - var(--footer-height) - (var(--gap) * 2));
    font-size: var(--homesize);
    line-height: var(--lineheight);
}

.profile .profile_inner h1 {
    padding: 12px 0;
    font-size: 40px;
}

.profile img {
    display: inline-table;
    border-radius: 50%;
}

.social-icons {
    margin-bottom: -1rem;
    padding: 1rem 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
        margin-bottom: 1rem;

        &:not(:last-of-type) {
            margin-inline-end: 1.5rem;
        }
    }

    a {

        i {
            font-size: 1.5em;
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            text-align: center;
            height: 26px;
            width: 26px;
            transition: .2s;
            -webkit-transition: .2s;
        }

        svg, i {
            height: 26px;
            width: 26px;
        }

        &:hover {
            color: var(--hover);
        }

        &:hover {
            .icon {
                outline: 0.15rem solid var(--hover);
                outline-offset: 0.4rem;
            }
        }

    }
}

.buttons {
    flex-wrap: wrap;
    margin: 0 auto;
}

.button {
    color: $accent;
    border-radius: var(--radius);
    outline: 0.15rem solid var(--profile-button);
    margin: 8px 16px 8px 0px;
    padding: 6px;
    transition: .2s;
    -webkit-transition: .2s;

    &:hover {
        background: var(--hover);
        outline: 0.4rem solid var(--hover);
        border-width: 0;
        outline-offset: -0.1rem;

        .button-inner {
            color: var(--theme);
        }
    }

    .button-inner {
        color: var(--profile-button);
        padding: 0 8px;
    }
}