.skills{
    width:inherit;
    position:relative;
    float:left;
    padding:30px 0;
    ul { 
      padding-top:30px;
      & > li { 
        margin-bottom:50px; 
        background:#dedede; 
        height:6px;
        & em {
          font-size: 18px;
          position:relative; 
          top:-30px;
        }
        & span { 
          height: inherit;
          background-color: var(--myblue);
          background: linear-gradient(90deg, var(--myblue), var(--aqua));
          position:absolute;
        }
      }
    }
}

.python {
    width: 90%;
    animation: python 2s ease-out;
}

.java {
    width: 80%;
    animation: java 2s ease-out;
}
.cplusplus {
    width: 50%;
    animation: cplusplus 2s ease-out;
}
.haskell {
    width: 60%;
    animation: haskell 2s ease-out;
}
.mathematica {
    width: 50%;
    animation: mathematica 2s ease-out;
}
.javascript {
    width: 60%;
    animation: javascript 2s ease-out;
}
.ruby {
    width: 90%;
    animation: ruby 2s ease-out;
}
.html5 {
    width: 80%;
    animation: html5 2s ease-out;
}
.latex {
    width: 80%;
    animation: latex 2s ease-out;
}
.git {
    width: 60%;
    animation: git 2s ease-out;
}
.shell {
    width: 60%;
    animation: shell 2s ease-out;
}

@keyframes python {
    0%   { width: 0px; }
    100% { width: 90%; }
}
@keyframes java {
    0%   { width: 0px; }
    100% { width: 80%; }
}
@keyframes cplusplus {
    0%   { width: 0px; }
    100% { width: 50%; }
}
@keyframes haskell {
    0%   { width: 0px; }
    100% { width: 60%; }
}
@keyframes mathematica {
    0%   { width: 0px; }
    100% { width: 50%; }
}
@keyframes javascript {
    0%   { width: 0px; }
    100% { width: 60%; }
}
@keyframes ruby {
    0%   { width: 0px; }
    100% { width: 90%; }
}
@keyframes html5 {
    0%   { width: 0px; }
    100% { width: 80%; }
}
@keyframes latex {
    0%   { width: 0px; }
    100% { width: 80%; }
}
@keyframes git {
    0%   { width: 0px; }
    100% { width: 60%; }
}
@keyframes shell {
    0%   { width: 0px; }
    100% { width: 60%; }
}
