$darkaqua: #05696B;
$teal: #089DA0;
$aqua: #7ae7c7;
$myblue: #121b33;
$mywhite: #f0f0f0;
$mygray: #A3A3A3;
$silver: #A5A5A5;
$jet: #2A2A2A;
$amaranth: #e3094a;
$amar2: #E53A5A;

$accent: $darkaqua;
$accent2: $amaranth;
$text-neutral: $mygray;
$bg-neutral: $mywhite;
$background: #fff;
$text-color: $myblue;

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 44px;
    --footer-height: 70px;
    --radius: 1.5em;
    --semibold: 500;
    --homesize: 16px;
    --textsize: 18px;
    --h1size: 25px;
    --entrysize: 15px;
    --headersize: 16px;
    --footersize: 13px;
    --lineheight: 1.45;
    --lineclamp: 8;
    --marginleft: 26px;
    --theme: #{$background};
    --entry: #{$background};
    --primary: #{$text-color}; /* text color */
    --secondary: #{$accent}; /* neutral color */
    --tertiary: #{$text-neutral}; /* accent color */
    --hljs-bg: #{$text-color};
    --code-bg: #{$bg-neutral};
    --border: #{$silver};
    --hover: #{$accent};
    --profile-button: #{$text-color};
    --entry-text: #{$text-color};
}


.dark {
    --theme: #000;
    --entry: #000;
    --primary: #{$mygray}; /* text color */
    --secondary: #{$teal}; /* neutral color */
    --tertiary: #{$mygray}; /* accent color */
    --hljs-bg: #{$mywhite};
    --code-bg: #{$jet};
    --border: #{$mygray};
    --hover: #{$teal};
    --profile-button: #{$mygray};
    --entry-text: #{$mywhite};
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}