::selection {
    background: var(--darkaqua);
    color: var(--mywhite);
}

::-moz-selection {
    background: var(--darkaqua);
    color: var(--mywhite);
}

.post-content a:hover {
    color: var(--darkaqua);
}